<div class="clearfix"></div>
<div class="container_fullwidth">
	<div class="container">
		<div class="hot-products">
			<h2 class="contact-title" style="text-align: center;"><strong><%= t".info" %></strong></h2>
			<h5 class="contact-infoormation" style="text-align: center;"><%= t".description1" %></h5>
			<section>
				<h1 class="contact-title" style="background-color: lightgreen"><%= t".info1"%></h1>
				<h5 class="contact-infoormation" style="text-align: center;"><%= t".description2"%>
				</h5>
			</section>
			<h3 style="text-align: center;"><%= t"address" %></h3>
			<h3 style="text-align: center;"><%= t"hotline" %></h3>
		</div>
		<i style="float: right"><%= link_to t("shared.back"), :back, class: "btn btn-warning" %></i>
	</div>
</div>