<div class="clearfix"></div>
<div class="container_fullwidth fee-page">
	<%= render "shared/banner_page", title: t("layouts.header.contact").upcase, breadscrumb: [{url: "/", title: 'Trang chủ'}, {url: "/lien-he", title: 'Liên hệ'}, {url: '#', title: "Thông tin liên hệ"}] %>
	<div class="hot-products">
		<div class="container">
			<h2 class="contact-title" style="text-align: center;"><strong><%= t".info" %></strong></h2>
			<h5 class="contact-infoormation" style="text-align: center;"><%= t".description1" %></h5>
			<section>
				<h1 class="contact-title" style="background-color: lightgreen"><%= t".info1"%></h1>
				<h5 class="contact-infoormation" style="text-align: center;"><%= t".description2"%>
				</h5>
			</section>
			<h3 style="text-align: center;"><%= t"address" %></h3>
			<h3 style="text-align: center;"><%= t"hotline" %></h3>
		</div>
	</div>
</div>