<div class="clearfix"></div>
<div class="container_fullwidth fee-page">
  <%= render "shared/banner_page", title: t(".fee_title").upcase, breadscrumb: [{url: "/", title: 'Trang chủ'}, {url: "/ho-tro", title: 'Hỗ Trợ'}, {url: '#', title: t(".fee_title")}] %>
  <div class="hot-products">
    <div class="container">
      <div class="row">
        <ul>
          <li class="col-xs-4">
            <a class="fa fa-bank fa-5x"></a>
            <em><%= t".bank" %></em>
          </li>
          <li class="col-xs-4">
            <a class="fa fa-universal-access fa-5x"></a>
            <em><%= t".service" %></em>
          </li>
          <li class="col-xs-4">
            <a class="fa fa-handshake-o fa-5x"></a>
            <em><%= t".consult" %></em>
          </li>
        </ul>
      </div>
      <div class="row content">
        <div class="col-md-12">
          <div class="clearfix"></div>
          <section>
            <h1 class="text-center"><b><%= t".caution" %></b></h1>
            <p><%= t".description1" %></p>
            <p><%= t".description2" %></p>
            <p><%= t".description3" %></p>
          </section>
          <div class="clearfix"></div>
          <div>
            <h2><b><%= t".info" %></b></h2>
            <div class="contact">
              <i class="fa fa-mobile fa-5x"></i>
              <h3>09 8601 9195</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>