<div class="clearfix"></div>
<div class="container">
  <div class="home-slider">
    <div id="sequence">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active center">
            <%= image_tag "carinsu.jpg" %>
          </div>
          <div class="item center">
            <%= image_tag "healthinsu2.jpg" %>
            <div class="carousel-caption">
            </div>
          </div>
          <div class="item center">
            <%= image_tag "bao-hiem-du-lich-bao-hiem-bao-viet-1349x500-opp.jpg" %>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
      </a>
    </div>
  </div> <!-- end home-slider -->
</div>

<div class="clearfix"></div>
<div class="container">
  <div class="hot-products">
    <h1 class="title-article"><%= t "layouts.header.categories" %></h1>
    <section>
      <div class="row">
        <div class="jumbotron full-text-title" style="background-color: #f0f0f0;">
          <div class="row">
            <% @products.each do |product| %>
            <div class="col-sm-6">
              <div class="table">
                <div class="table-cell">
                  <h2 class="text-center"><%= product.name %></h2>
                  <% if product.id == 4 %>
                  <p class="text-center"><%= t"layouts.header.description1" %>
                    <% else %>
                  <p class="text-center"><%= t"layouts.header.description2" %>
                    <% end %>
                  </p>
                </div>
              </div>
              <div>
                <div style="float: right;"><%= link_to t("shared.info"), product, class: "btn btn-primary go-to-detail" %></div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
    <h1 class="title-article"><%= t "layouts.header.articles" %></h1>
    <%= render partial: "shared/article"%>
  </div> <!-- end hot-product -->
  <div class="clearfix"></div>
</div> <!-- end container(213) -->