<div class="clearfix"></div>
<div class="home-slider">
  <div class="container">
    <div>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active center">
            <%= image_tag "mazda6.png", class: "img-responsive" %>
            <div class="carousel-caption">
              <h3 style="color: red;">Mazda 6</h3>
            </div>
          </div>
          <div class="item center">
            <%= image_tag "santafe.png", class: "img-responsive" %>
            <div class="carousel-caption">
              <h3 style="color: red;">Santa Fe</h3>
            </div>
          </div>
          <div class="item center">
            <%= image_tag "vios.png", class: "img-responsive" %>
            <div class="carousel-caption">
              <h3 style="color: red;">Vios</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- Left and right controls -->      
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
      </a>      
    </div>
  </div>
</div>  <!-- end home-slider -->
  <div class="clearfix"></div>
  <div class="container_fullwidth">
    <div class="container">
      <div class="hot-products">
        <section>
          <div class="row">
            <div class="jumbotron full-text-title" style="background-color: #f0f0f0;">
              <div class="row">
                <% @products.each do |product| %>
                <div class="col-sm-6">
                  <div class="table">
                    <div class="table-cell">
                      <h2 class="text-center"><%= product.name %></h2>
                      <% if product.id == 4 %>
                        <p class="text-center"><%= t"layouts.header.description1" %>
                      <% else %>
                        <p class="text-center"><%= t"layouts.header.description2" %>                      
                      <% end %>
                      </p>
                    </div>
                    </div>
                  <div>
                    <div style="float: right;"><%= link_to t("shared.info"), product, class: "btn btn-success" %></div>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </section>
        <h1><%= t "layouts.header.articles" %></h1>
        <%= render partial: "shared/article"%>
      </div> <!-- end hot-product -->
      <div class="clearfix"></div>
    </div> <!-- end container(213) -->
  </div> <!-- end container-fullwidth(212) -->