<div id="page-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header title"><%= t ".article" %></h2>
			</div>
		</div>
		<h3 class="field text-center">
		<%= @article.title.upcase %>
		</h3>
		<div class="field text-center">
			<b><%= @article.description %></b>
		</div>
		<div class="field text-center">
			<%= @article.text.html_safe if !@article.text.nil? %>
		</div>
		<div>
			<%= link_to t("shared.edit"), edit_admin_article_path(@article), class: "btn btn-success" %>
			<i style="float: right"><%= link_to t("shared.back"), :back, class: "btn btn-warning" %></i>
		</div>
	</div>
</div>