<div class="clearfix"></div>
<div class="container_fullwidth fee-page">
	<%= render "shared/banner_page", title: @article.title.upcase, breadscrumb: [{url: "/", title: 'Trang chủ'}, {url: "/#{I18n.locale}/articles", title: 'Bài viết'}, {url: "/#{I18n.locale}/articles/#{@article.id}", title: "#{@article.title}"}] %>
	<div class="hot-products">
		<div class="container">
			<h2><b><%= @article.title.upcase %></b></h2>
			<h4><b><%= @article.description %></b></h4>
			<%= image_tag @article.image_url(:full) if @article.image? %>
			<p><%= @article.text.html_safe if !@article.text.nil? %></p>
			<div class="clearfix"></div>
		</div>
	</div>
</div>