<div class="row">
  <% @articles.each do |article| %>
  <div class="col-xs-6 col-md-4">
    <div class="article-item">
      <%= link_to article_path(article, locale: I18n.locale), class: "panel-title" do %>
      <h2>
        <%= article.title %>
      </h2>
      <% end %>
      <div class="summary">
        <div class="thumbnail-article">
          <%= image_tag article.image_url(:thumb) if article.image? %>
        </div>
        <p class="content"><%= truncate(article.description, length: 300) %></p>
      </div>
      <%= link_to t("static_pages.home.more_detail"), article_path(article, locale: I18n.locale), class: "btn btn-primary go-to-detail" %>
    </div>
  </div>
  <% end %>
</div>
<section style="visibility: visible; float: right;">
  <div class="row">
    <div class="col-xs-12 text-center">
      <a>
        <h3 class="text-uppercase"><%= link_to t("shared.all_articles"), articles_path(locale: I18n.locale), class: "btn btn-primary" %></h3>
      </a>
    </div>
  </div>
</section>