<div class="send-mail">
  <div class="container">
    <h2 class="text-center"><%= t "shared.sendmail" %></h2>
    <p class="text-center"><%= t "shared.sendmail_notice" %></p>
    <%= form_for(:user, url: sendmail_product_url) do |f| %>
    <form role="form">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="form-group">
            <%= f.text_field :name, autocomplete: "name", placeholder: t("shared.sign_up.name"),
            class: "form-control" %>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="form-group">
            <%= f.text_field :phone, autocomplete: "phone",placeholder: t("shared.sign_up.phone"),
            class: "form-control" %>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <%= f.submit t("shared.sendmail"),
          class: "btn btn-success btn-block" %>
        </div>
      </div>
    </form>
    <% end %>
  </div>
</div>