<script type="text/javascript" src="assets/javascripts/insurance.js"></script>
<div class="clearfix"></div>
<div class="container_fullwidth">
	<div class="container">
		<% if @product.id == 5 %>
			<% if !current_user.try(:admin?) %>
				<button class="tablink" onclick="openPage('Home', this, 'black')"><%= t"shared.home" %></button>
				<button class="tablink" onclick="openPage('Group', this, 'black')"><%= t"shared.group" %></button>
				<button class="tablink" onclick="openPage('Range', this, 'black')"><%= t"shared.range" %></button>			
				<button class="tablink" onclick="openPage('Fee', this, 'black')" id="defaultOpen"><%= t"shared.check" %></button>
			<% else %>
				<button class="tablink" onclick="openPage('Home', this, 'black')" id="defaultOpen"><%= t"shared.home" %></button>
				<button class="tablink" onclick="openPage('Group', this, 'black')"><%= t"shared.group" %></button>
				<button class="tablink" onclick="openPage('Range', this, 'black')"><%= t"shared.range" %></button>						
			<% end %>
		<% elsif @product.id == 4 %>
			<button class="tablink" onclick="openPage('Home', this, 'black')" id="defaultOpen"><%= t"shared.home" %></button>
			<button class="tablink" onclick="openPage('Group', this, 'black')"><%= t"shared.benefit" %></button>
			<button class="tablink" onclick="openPage('Range', this, 'black')"><%= t"shared.goods" %></button>
		<% end %>
		<% if @product.id == 5 %>
			<div id="Home" class="tabcontent">
				<h1><%= t"shared.home" %></h1>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: left">
					<span style="font-size: 115%"><%= t"shared.descriptions.descript1" %></span>
					<ul style="list-style-type: square; list-style-position: inside"><span style="font-size: 125%"><%= t"shared.descriptions.descript2" %></span>
					<li><%= t"shared.descriptions.li.li1" %></li>
					<li><%= t"shared.descriptions.li.li2" %></li>
					<li><%= t"shared.descriptions.li.li3" %></li>
					<li><%= t"shared.descriptions.li.li4" %></li>
					</ul>
					<p style="font-size: 120%"><%= t"shared.descriptions.descript3" %></p>
					<b><%= t"shared.descriptions.descript4" %></b>
					<ul style="list-style-type: square; list-style-position: inside"><span style="font-size: 125%">
						<%= t"shared.descriptions.descript5" %></span>
					<li><%= t"shared.descriptions.li.li5" %></li>
					<li><%= t"shared.descriptions.li.li6" %></li>
					<li><%= t"shared.descriptions.li.li7" %></li>
					<li><%= t"shared.descriptions.li.li8" %></li>
					</ul>
					<b><%= t"shared.desctiptions.descript6" %></b>
					<p style="font-size: 120%"><%= t"shared.descriptions.descript7" %>
						<ul style="list-style-type: square; list-style-position: inside"><span style="font-size: 125%"><%= t"shared.descriptions.descript8" %></span>
						<li><%= t"shared.descriptions.li.li9" %></li>
						<li><%= t"shared.descriptions.li.li10" %></li>
						<li><%= t"shared.descriptions.li.li11" %></li>
					</ul>
					<%= t"shared.descriptions.descript9" %></p>
				</div>
			</div>
			<div id="Group" class="tabcontent">
				<h1><%= t"shared.group" %></h1>
				<%= image_tag "gbh.png" %>
			</div>
			<div id="Range" class="tabcontent">
				<h1><%= t"shared.range" %></h1>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: left">
					<ul style="list-style-type: square; list-style-position: inside"><span style="font-size: 125%"><%= t"shared.descriptions.descript10" %></span>
					<li><%= t"shared.descriptions.li.li12" %></li>
					<li><%= t"shared.descriptions.li.li13" %></li>
					<li><%= t"shared.descriptions.li.li14" %></li>
					</ul>
					<ul style="list-style-type: square; list-style-position: inside"><span style="font-size: 125%"><%= t"shared.descriptions.descript11" %></span>
					<li><%= t"shared.descriptions.li.li15" %></li>
					<li><%= t"shared.descriptions.li.li16" %></li>
					</ul>
				</div>
			</div>
			<div id="Fee" class="tabcontent">
				<% if !current_user.try(:admin?) %>
				<h1><%= t("shared.check") %></h1>
				<h4><%= t("shared.descript")%></h4>
				<%= form_for @product, method: :get, locale: I18n.locale do |f| %>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
					<%= f.label :price, t("shared.price") %>:
					<%= f.text_field :price, placeholder: t("shared.input"), id: "txt_1", data: {autonumeric: {aSign: 'VNĐ ', mDec: 0}} %><%= f.submit t("shared.check"), class: "btn btn-success", id: "form-submit" %>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<%= f.label :group_id, t("shared.groupy") %>:
						<%= f.collection_select :group_id, Group.order(:id), :id, :name, {:prompt => t("shared.choose")}, {:id=>"group"} %>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<%= f.label :usage_id, t("shared.usage") %>:
						<%= f.collection_select :usage_id, Usage.order(:id), :id, :name, {:prompt => t("shared.choose")}, {:id=>"usage"} %>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<%= t"shared.descriptions.groups" %>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<%= t"shared.descriptions.usage" %>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<%= f.label :modelyear_id, t("shared.modelyear") %>:
						<%= f.collection_select :modelyear_id, Modelyear.order(:id), :id, :name, {:prompt => t("shared.choose")}, {:id => "modelyear"} %>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<%= f.label :type_id, t("shared.types") %>:
						<%= f.grouped_collection_select :type_id, Brand.order(:name), :types, :name, :group_id, :name, {:prompt => t("shared.choose")}, {:id => "car"} %>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<%= t"shared.descriptions.modelyear" %>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<%= t"shared.descriptions.type" %>
				</div>
				<button onclick="toggleOptions(event)"><%= t("shared.options") %></button>
				<div id="choices" style="display: none">
					<% @options.each do |option| %>
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						<ul class="list-group list-group-flush">
							<li class="list-group-item d-flex justify-content-between align-items-center">
							<%= truncate(option.name, length: 63) %>
							(<%= link_to t("shared.info"), "#", data: {toggle: "modal", target: "#optionModal#{option.id}"} %>
							<%= render "shared/option#{option.id}" %>)
							<span class="badge badge-primary badge-pill" id="options"><%= check_box_tag "option_ids[]", option.id %></span>
							</li>
						</ul>
					</div>
					<% end %>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="font-size: 150%">
					<%= f.label :fee, t("shared.fee") %>:
					<%= number_to_currency(@product.fee, unit: "VNĐ", format: "%n %u", delimiter: ".", locale: :en, precision: 0) %>
				</div>
				<% end %>
				<div class="clearfix"></div>					
				<% end %>
			</div>
		<% else %>
			<div id="Home" class="tabcontent">
				<h1><%= t"shared.home" %></h1>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: left">
					<p style="font-size: 120%"><%= t"shared.descriptions.descript12" %></p>
					<ul style="list-style-type: square; list-style-position: inside"><span style="font-size: 150%"><%= t"shared.descriptions.descript13" %></span>
						<li><%= t"shared.descriptions.li.li17" %></li>
						<li><%= t"shared.descriptions.li.li18" %></li>
						<li><%= t"shared.descriptions.li.li19" %></li>
					</ul>
					<h4><%= t"shared.descriptions.descript14" %></h4>
					<h4><b><%= t"shared.descriptions.descript15" %></b></h4>
					<p><%= t"shared.descriptions.descript16" %></p>
					<h4><b><%= t"shared.descriptions.descript17" %></b></h4>
					<p><%= t"shared.descriptions.descript18" %></p>
					<h4><b><%= t"shared.descriptions.descript19" %></b></h4>
					<p><%= t"shared.descriptions.descript20" %></p>
				</div>
			</div>
			<div id="Group" class="tabcontent">
				<h1><%= t"shared.benefit" %></h1>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: left">
				<ul style="list-style-type: square; list-style-position: inside;"><span style="font-size: 150%"><%= t"shared.descriptions.descript21" %></span>
				<li><%= t"shared.descriptions.li.li20" %></li>
				<li><%= t"shared.descriptions.li.li21" %></li>
				<li><%= t"shared.descriptions.li.li22" %></li>
				</ul>
				<ul style="list-style-type: square; list-style-position: inside;"><span style="font-size: 150%"><%= t"shared.descriptions.descript22" %></span>
				<li><%= t"shared.descriptions.li.li23" %></li>
				<li><%= t"shared.descriptions.li.li24" %></li>
				</ul>
				<%= t"shared.descriptions.descript23" %>
				</div>
			</div>
			<div id="Range" class="tabcontent">
				<h1><%= t"shared.goods" %></h1>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: left">
				<ul style="list-style-type: square; list-style-position: inside;"><span style="font-size: 150%"><%= t"shared.descriptions.descript24" %></span>
					<li><%= t"shared.descriptions.li.li25" %></li>
					<li><%= t"shared.descriptions.li.li26" %></li>
					<li><%= t"shared.descriptions.li.li27" %></li>
					<ul style="list-style-type: square; list-style-position: inside;"><span style="font-size: 150%"><%= t"shared.descriptions.descript25" %></span>
						<li><%= t"shared.descriptions.li.li28" %></li>
						<li><%= t"shared.descriptions.li.li29" %></li>
						<li><%= t"shared.descriptions.li.li30" %></li>
						<li><%= t"shared.descriptions.li.li31" %></li>
						<li><%= t"shared.descriptions.li.li32" %></li>
					</ul>
				</ul>
				</div>
			</div>
		<% end %>
		<i style="float: right"><%= link_to t("shared.back"), :back, class: "btn btn-warning" %></i>
		<i style="float: right"><button class="btn btn-success" onclick="clearer()"><%= t"shared.clear" %></button></i>
		<i style="float: right"><%= link_to t("shared.sendmail"), "#", data: {toggle: "modal", target: "#sendmailModal"}, class: "btn btn-success" %></i>
		<%= render "shared/send_mail" %>
	</div>
</div>
<script>
function toggleOptions(e) {
	e.preventDefault();
	var x = document.getElementById("choices");
	if (x.style.display === "none") {
		x.style.display = "block";
	} else {
		x.style.display = "none";
	}
};//hide/unhide hop "Them Dieu Khoan"

function openPage(pageName,elmnt,color) {
	var i, tabcontent, tablinks;
	tabcontent = document.getElementsByClassName("tabcontent");
	for (i = 0; i < tabcontent.length; i++) {
		tabcontent[i].style.display = "none";
	}
	tablinks = document.getElementsByClassName("tablink");
	for (i = 0; i < tablinks.length; i++) {
		tablinks[i].style.backgroundColor = "";
	}
	document.getElementById(pageName).style.display = "block";
	elmnt.style.backgroundColor = color;
}//chon cac tab va hien thi content tuy theo tab do
document.getElementById("defaultOpen").click();// Mac dinh mo tab co id="defaultOpen"

function clearer(){
	document.getElementById("txt_1").value = "";
	document.getElementById("group").value = "";
	document.getElementById("modelyear").value = "";
	document.getElementById("car").value = "";
	document.getElementById("usage").value = "";	
}
</script>