<div class="wrapper">
  <div class="clearfix"></div>
  <div class="footer">
    <div class="footer-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="menu-footer">
              <ul>
                <li><a href="/bao-hiem-xe-suc-khoe" data-wpel-link="internal"><%= link_to t("layouts.header.p_insu"), product_path(Product.find_by_id(4)) %></a></li>                
                <li><a href="/bao-hiem-xe-co-gioi" data-wpel-link="internal"><%= link_to t("layouts.header.c_insu"), product_path(Product.find_by_id(5)) %></a></li>
                <li><a href="/nguyen-tac-va-quyen-loi/" data-wpel-link="internal"><%= link_to t("layouts.header.rights"), static_pages_rights_path %></a></li>                
                <li><a href="/tin-tuc/" data-wpel-link="internal"><%= link_to t(".news"), articles_path %></a></li>
                <li><a href="/lien-he/" data-wpel-link="internal"><%= link_to t(".contact"), static_pages_about_path %></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <h3><%= t".contact" %></h3>
            <p><%= t"address" %></p>
            <p><%= t"hotline" %></p>
            <p>Email: hotro@baoviet.vn</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <h3><%= t".information" %> </h3>
            <p><%= link_to t("layouts.header.rights"), static_pages_rights_path(locale: I18n.locale) %></p>
            <p><%= link_to t("layouts.header.article"), articles_path(locale: I18n.locale) %></p>
            <p><%= link_to t(".help"), static_pages_fee_path(locale: I18n.locale) %></p>
            <p><%= link_to t(".about_us"), static_pages_about_path(locale: I18n.locale) %></p>
          </div>
          <div class="col-md-4 col-sm-12">
            <h3><%= t".language" %> </h3>
            <p><%= link_to t(".vietnam"), locale:"vi" %></p>
            <p><%= link_to t(".english"), locale:"en" %></p>
          </div>
        </div> <!-- end row -->
      </div> <!-- end container -->
    </div> <!-- end footer-info -->
    <div class="copyright-info">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>Copyright © 2020. Designed by <a href="#">D&H</a>. All rights reseved</p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end footer -->
</div>