<div class="container header-bar">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to(image_tag("logo.png"), root_path, class: "navbar-brand") %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to t(".home"), root_path %><span class="information"><%= t".infor1" %></span></li>
            <% @all_categories.each do |category| %>
            <% if category.descendants.present? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t("#{category.name}") %> <span class="caret"></span></a>
              <span class="information">Các gói bảo hiểm</span>
              <ul class="dropdown-menu">
                <% category.children.each do |children| %>
                <li>
                  <%= link_to t("#{children.name}"), children %>
                </li>
                <% end %>
              </ul>
            </li>
            <% end %>
            <% end %>
            <li>
              <%= link_to t(".article"), articles_path(locale: I18n.locale) %>
              <span class="information"><%= t".infor3" %></span>
            </li>
            <li>
              <%= link_to t(".contact"), static_pages_about_url(locale: I18n.locale) %>
              <span class="information"><%= t".infor4" %></span>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t".help" %> <span class="caret"></span></a>
              <span class="information"><%= t".hotline" %></span>
              <ul class="dropdown-menu">
                <li><%= link_to t(".rights"), static_pages_rights_url(locale: I18n.locale) %></li>
                <li><%= link_to t(".fee_type"), static_pages_fee_url(locale: I18n.locale) %></li>
              </ul>
            </li>
            <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %> <span class="caret"></span></a>
              <span class="information"><%= t".infor5" %></span>
              <ul class="dropdown-menu">
                <% if current_user.admin? %>
                <li><%= link_to current_user.name, admin_dashboard_path,
                        class: "user dropbtn" %></li>
                <% else %>
                <li> <%= link_to t(".fee_type"), static_pages_fee_url(locale: I18n.locale) %> </li>
                <% end %>
                <li>
                  <%= link_to t(".logout"), destroy_user_session_path(locale: I18n.locale),
                      method: :delete, class: "logout" %>
                </li>
              </ul>
            </li>
            <% else %>
            <li>
              <%= link_to t(".login"), "#",
                      data: {toggle: "modal", target: "#loginModal"},
                      class: "login" %>
              <%= render "shared/login" %>
              <span class="information">Truy cập hệ thống</span>
            </li>
            <% end %>
            <!-- <ul class="option">
                    <li id="search" class="search">
                      <%#= form_tag search_path, method: :get, id: "livesearch_form" do %>
                      <%#= submit_tag "", class: "search-submit" %>
                      <%#= text_field_tag :search, params[:search],
                      class: "search-input dropdown-toggle", placeholder: t(".search"),
                      "data-toggle": "dropdown", "aria-hidden": :true,
                      autocomplete: :off, required: true, id: "livesearch_input" %>
                      <ul class="dropdown-menu list_search">
                        <div id="livesearch_dom"></div>
                      </ul>
                      <%# end %>
                    </li>
                  </ul> -->
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </div>
  </nav>
</div>